Com.BatikSolo.Service.Core.Lib/bin
Com.BatikSolo.Service.Core.Lib/obj
Com.BatikSolo.Service.Core.WebApi/bin
Com.BatikSolo.Service.Core.WebApi/obj
Com.BatikSolo.Service.Core.WebApi/appsettings.json
Com.BatikSolo.Service.Core.WebApi/Properties/launchSettings.json
